#grid {
    position: relative;
    aspect-ratio: 1;
    background: var(--dark3);
}

.cell {
    position: absolute;
    aspect-ratio: 1;
    background: #ff2e2e;

    font-size: 1.75em;
    font-weight: 600;
    color: var(--light2);

    transition: .3s;
}