#main-grid {
    position: relative;
    background: var(--dark2);
}

.cell {
    position: absolute;
    background: var(--red);
    color: var(--dark1);
    
    font-size: 1.8em;
    font-weight: 600;
    border: none;

    transition: .5s;
    cursor: pointer;
}

#main-grid, .cell {
    aspect-ratio: 1;
}