:root {
    --dark1: #191919;
    --dark2: #272727;

    --red: #fc2b2b;
    --blue: #2c7ef4;
    --green: #00bf63;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex {
    display: flex;
    align-items: center;
}

.jc-cen {
    justify-content: center;
}

.bg-dark1 {
    background: var(--dark1);
}

.bg-dark2 {
    background: var(--dark2);
}

.br-10 {
    border-radius: 10px;
}

.screen {
    position: fixed;
    top: 0;
    left: 0;

    width: 100dvw;
    height: 100dvh;

    transition: .7s;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}